
/*Setting up Navbar to be responsive*/

  @media screen and (max-width: 600px) {
    .navbutton {
      font-size:smaller;
      border:none;
    }
  }

  @media screen and (max-width: 300px) {
    .navbuttonline {
      border-style:solid;
      border-width:.01px;
      padding:6px;
    }
    .navbutton {
      width: 35px;
      border:none;
      background-color: transparent;

    }
    
  }

  @media screen and (max-width: 400px) {
    .navbutton {
      font-size:10px
    }
  }

 
